@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    font-family: "Source Sans Pro", Calibri, sans-serif;
    color: white;
}

/* Sky blue & bubblegum pink (classic)*/
body{
    background: linear-gradient(to right, #00b4db, #0083b0) fixed;
}
body.register-form{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.outer-rectangle{
    width: 20rem;
    height: 340px;
    background-color: #4c6e7f;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto auto;
    border: #2c5364 solid 5px;
}
.outer-rectangle form input{
    border: #2c5364 solid 4px;
}
.outer-rectangle form input[type=text], .outer-rectangle form input[type=password]{
    font-size: 1.4rem;
    margin: .5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.outer-rectangle form input[type=text]:hover, .outer-rectangle form input[type=password]:hover{
    background-color: #80b3c5;
    transition: .7s;
}
.outer-rectangle form input[type=submit]:hover{
    background-color: #80b3c5;
    transition: .7s;
    cursor: pointer;
}
.outer-rectangle form input[type=submit]{
    font-size: 1.7rem;
    width: 15.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-weight: bold;
    margin-left: 8px;
    color: black;
}
.outer-rectangle label{
    margin-left: .5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    pointer-events: none;
}
strong{
    color: red;
}

.nav-index-genres{
    width: 15%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
}
.nav-index-genres-heading{
    width: 100%;
    height: 15%;
    background-color: #2980b9;
    position: absolute;
    top: 0;
}
.nav-index-genres-heading h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.nav-index-genres nav{
    margin-top: 50%;
    overflow: hidden;
    width: auto;
}
nav ul li{
    list-style-type: none;
    font-weight: bold;
    margin: 25px;
    font-size: 1.5rem;
    width: 100%;
    height: 15%;
}
nav ul li:hover{
    text-decoration: underline white;
    text-decoration-thickness: .75rem;
    transition: 1s;
    cursor: pointer;
}

main{
    position: absolute;
    left: 320px;
    width: auto;
}
a{
    text-decoration: none;
}

.inner-genres{
    display: inline-block;
    height: 4rem;
    width: 10rem;
    padding: 50px;
    margin: 80px;
    border: #0f2027 4px solid;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #0083b0;
    border-radius: 50px;
}
.inner-genres:hover{
    background-color: #5fbae3;
    cursor: pointer;
    transition: 350ms;
}

.song{
    background-color: #00536c;
    height: 20rem;
    width: 21.5rem;
    border: black 4px solid;
    border-radius: 50px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    z-index: 150;
}
.song img, .song h3, .song audio{
    margin-left: 25px;
}
.song img{
    margin-top: 15px;
    border-radius: 30px;
    cursor: default;
}
.song h3{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.4rem;
    cursor: default;
}
.song p{
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    cursor: default;
}

.songs-heading{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 100px;
}

button{
    padding: 10px 25px;
    font-size: 22px;
    line-height: 40px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #2c5364;
    color: white;
    border-radius: 5px;
    border: 0;
    height: 60px;
    margin-left: 35px;
}
.session-name{
    width: 100%;
    height: 150px;
    background-color: #0f2027;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 350;
}
.session-name p{
    z-index: 15000;
}
.session-name button{
    position: fixed;
    top: 0;
    right: 0;
}
.dashboard-user{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 350;
    text-align: right;
}
.dashboard-user p{
    margin-right: 50px;
    font-size: 1.3rem;
    text-underline: white;
}


@media screen and (max-width: 768px){
    .nav-index-genres{
        display: none;
    }
    main{
        position: absolute;
        top: 200px;
        left: 0;
    }
    body{
        width: 95%;
        max-width: 95%;
        overflow-x: hidden;
    }
    .inner-genres {
        margin-left: 15%;
        margin-bottom: 15px;
        margin-top: 10px;
    }

}
